body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  max-width: 72rem;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.page-container h2{
  color: brown;
  text-align: center;
  border-bottom: 2px solid #000;
  width: max-content;
  margin: 0 auto;
  padding: 0.6rem;
}

.repos-container{
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2.5rem;
  margin: 0 auto;
}

.pagenumber-container{
  display: flex;
  gap: 0.5rem;
}
.page-number{
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background-color: rgb(196, 196, 229);
  border-radius: 3px;
}

.card-container{
  width: 16rem;
  height: 16rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.image-container{
  width: 5rem;
  height: 5rem;
  
  
}
.image-container img{
  width: 100%;
  object-fit: cover;
  border-radius: 8rem;
}